<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="termplux_engine_example">
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
